body{ 
    background-color: rgb(188, 171, 143);}

.nav{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    align-items: center;
    padding: 2em 2em;
    width: 75%;
    margin: auto;
    border: solid 25px silver;
    margin-bottom: 75px;
}
main{
    width: 50%;
    margin: auto;
}
.Products img{
    width: 350px;
    height: 250px;
}
.Products{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    gap: 10px;
}