body{ 
    background-color: rgb(206, 196, 179);}

#nav{
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    padding: 2em 2em;
    width: 60%;
    margin: auto;
    border: solid 25px rgb(133, 132, 132);
}
#nav a{
    /* text-decoration: none; */
    color: rgb(58, 57, 57);
    font-size: 0.75em;
}
.shimmer{
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.50em;
    margin: 0 auto;
    padding: 0 140px 0 0;
    display: inline;
    margin-bottom: 0;
  }
  .shimmer {
    text-align: center;
    color: rgba(255,255,255,0.1);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
  }
  @-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

main{
    width: 60%;
    margin: auto;
}
.Products img{
    width: 350px;
    height: 250px;
}
.Products{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    gap: 10px;
    border: 2px solid rgb(128, 125, 125);
    
}
.Product{
    border: solid 3px black;
    padding: 2px;
    background-color: aliceblue;
}
.buttons{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    gap: 10px;
    /* border: 2px solid silver; */
}
.buttons button{
    height:35px;
    width: 150px;
}
.details{
  text-align: center;
}
.details button{
  margin: 5px;
  width: 150px;
  height: 40px;
}

.details img{
  border: 1px solid black;
  width: 550px;
}